# {{ansible_managed}}
services:
  monolithic:
    image: {{ lancache_monolithic_image }}
    container_name: lancache
    restart: unless-stopped
    network_mode: host
    volumes:
      - {{ lancache_cache_dir }}:/data/cache
      - {{ lancache_logs_dir }}:/data/logs
    environment:
      CACHE_DISK_SIZE: "{{ lancache_cache_disk_size }}"
      CACHE_MAX_AGE: "{{ lancache_cache_max_age }}"
      UPSTREAM_DNS: "{{ lancache_upstream_dns }}"
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
