---
dependency:
  name: galaxy
driver:
  name: docker
platforms:
  - name: rocky10-base-edge
    image: quay.io/rockylinux/rockylinux:10
    pre_build_image: true
    privileged: true
    command: "/usr/sbin/init"
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    cgroupns_mode: host
    tmpfs:
      - /run
      - /tmp
provisioner:
  name: ansible
  inventory:
    host_vars:
      rocky10-base-edge:
        timedatectl_timezone: 'America/New_York'
        timedatectl_timeservers: []
        timedatectl_timeservers_fallback: ['192.168.1.1']
verifier:
  name: ansible
...
