---
- name: Run timedatectl
  ansible.builtin.command: timedatectl set-ntp true
  changed_when: false

- name: Restart sshd
  ansible.builtin.service:
    name: sshd
    state: restarted

- name: Restart fail2ban
  ansible.builtin.service:
    name: fail2ban
    state: restarted

- name: Restart auditd
  ansible.builtin.service:
    name: auditd
    state: restarted
...
