; {{ansible_managed}}
[librenms]
user = {{ librenms_user }}
group = {{ librenms_group }}

listen = /run/php-fpm/librenms.sock
listen.owner = nginx
listen.group = nginx
listen.mode = 0660

pm = dynamic
pm.max_children = {{ librenms_php_fpm_max_children | default(50) }}
pm.start_servers = {{ librenms_php_fpm_start_servers | default(5) }}
pm.min_spare_servers = {{ librenms_php_fpm_min_spare | default(5) }}
pm.max_spare_servers = {{ librenms_php_fpm_max_spare | default(35) }}
php_admin_value[date.timezone] = {{ timezone | default('UTC') }}
