[Service]
ExecStartPre=+/usr/bin/install -o {{ tacacs_user }} -g {{ tacacs_group }} -m 0640 /dev/null /run/tac_plus.pid.{{ tacacs_listen_address }}
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
PrivateDevices=true
MemoryDenyWriteExecute=true
ReadWritePaths=/run
