# {{ansible_managed}}

accounting file = /var/log/tac_plus/tac_plus.acct

{% for client in tacacs_client_keys %}
# {{ client.name }}
host = {{ client.address }} {
  key = {{ client.key | to_json }}
}
{% endfor %}

user = DEFAULT {
  default service = permit

  login  = PAM
  pap    = PAM

  # Junos: fw-edge, sw-01..05, sw-poe
  service = junos-exec {
    default attribute = permit
    local-user-name = remote
  }

  # Arista EOS: rtr-core
  service = shell {
    default attribute = permit
    priv-lvl = 15
  }
}
