---
dependency:
  name: galaxy
driver:
  name: docker
platforms:
  - name: rocky10-base-default
    image: quay.io/rockylinux/rockylinux:10
    pre_build_image: true
    privileged: true
    command: "/usr/sbin/init"
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    cgroupns_mode: host
    tmpfs:
      - /run
      - /tmp
provisioner:
  name: ansible
  inventory:
    host_vars:
      rocky10-base-default:
        timedatectl_timezone: 'UTC'
        timedatectl_timeservers: ['pool.ntp.org']
        timedatectl_timeservers_fallback: ['time.nist.gov']
verifier:
  name: ansible
...
