# {{ansible_managed}}
services:
  mediamtx:
    image: {{ mediamtx_compose_image }}
    restart: unless-stopped
    volumes:
      - {{ mediamtx_project_dir }}/mediamtx.yml:/mediamtx.yml:ro
      - {{ mediamtx_container_data_dir }}:/var/lib/mediamtx
      - /etc/letsencrypt/live/{{ mediamtx_domain }}/fullchain.pem:/server.crt:ro
      - /etc/letsencrypt/live/{{ mediamtx_domain }}/privkey.pem:/server.key:ro
    ports:
      - "1935:1935"
      - "1936:1936"
      - "127.0.0.1:8888:8888"
      - "127.0.0.1:9997:9997"
