---
# --- SSH Hardening ---
- name: Ensure openssh-server is installed
  ansible.builtin.package:
    name: openssh-server
    state: present

- name: Configure additional SSH security
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    validate: '/usr/sbin/sshd -t -f %s'
  loop:
    - regexp: '^#?Protocol'
      line: 'Protocol 2'
    - regexp: '^#?MaxAuthTries'
      line: 'MaxAuthTries 3'
    - regexp: '^#?ClientAliveInterval'
      line: 'ClientAliveInterval 300'
    - regexp: '^#?ClientAliveCountMax'
      line: 'ClientAliveCountMax 2'
    - regexp: '^#?LoginGraceTime'
      line: 'LoginGraceTime 60'
    - regexp: '^#?PermitEmptyPasswords'
      line: 'PermitEmptyPasswords no'
    - regexp: '^#?PasswordAuthentication'
      line: 'PasswordAuthentication no'
    - regexp: '#AddressFamily any'
      line: 'AddressFamily inet'
    - regexp: 'X11Forwarding yes'
      line: 'X11Forwarding no'
    - regexp: '#PermitRootLogin prohibit-password'
      line: 'PermitRootLogin no'
  notify: Restart sshd

# --- System Configuration ---
- name: Set Timezone
  community.general.timezone:
    name: "{{ timezone }}"
  when: ansible_service_mgr == "systemd"

# --- Firewall ---
- name: Ensure firewalld is installed
  ansible.builtin.package:
    name: firewalld
    state: present

- name: Enable and start firewalld
  ansible.builtin.service:
    name: firewalld
    state: started
    enabled: true

- name: Allow SSH through the default zone
  ansible.posix.firewalld:
    service: ssh
    state: enabled
    permanent: true
    immediate: true

# --- SELinux ---
- name: Ensure SELinux is enforcing
  ansible.posix.selinux:
    policy: targeted
    state: enforcing
  register: selinux_status
  when: ansible_selinux.status == 'enabled'

- name: Install SELinux tools
  ansible.builtin.package:
    name:
      - policycoreutils-python-utils
      - selinux-policy-devel
      - setroubleshoot-server
    state: present
  when: ansible_selinux.status == 'enabled'

# --- Audit ---
- name: Install auditd
  ansible.builtin.package:
    name:
      - audit
      - audit-libs
    state: present

- name: Configure audit rules for network services
  ansible.builtin.blockinfile:
    path: /etc/audit/rules.d/network-services.rules
    create: true
    mode: '0640'
    owner: root
    group: root
    block: |
      -a always,exit -F arch=b64 -S socket -F a0=2 -k network_socket_create
      -a always,exit -F arch=b64 -S bind -k network_bind
      -a always,exit -F arch=b64 -S listen -k network_listen
      -a always,exit -F arch=b64 -S accept -k network_accept
      -w /etc/ssh/sshd_config -p wa -k ssh_config
      -w /etc/systemd/timesyncd.conf -p wa -k time_config
      -w /bin/systemctl -p x -k systemd_control
      -w /usr/bin/systemctl -p x -k systemd_control
  notify: Restart auditd

- name: Enable and start auditd
  ansible.builtin.service:
    name: auditd
    state: started
    enabled: true

# --- Kernel Hardening ---
- name: Disable IP forwarding and redirects
  ansible.posix.sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    state: present
    reload: true
  loop:
    - name: net.ipv4.ip_forward
      value: "0"
    - name: net.ipv4.conf.all.send_redirects
      value: "0"
    - name: net.ipv4.conf.default.send_redirects
      value: "0"
    - name: net.ipv4.conf.all.accept_redirects
      value: "0"
    - name: net.ipv4.conf.default.accept_redirects
      value: "0"
    - name: net.ipv4.conf.all.secure_redirects
      value: "0"
    - name: net.ipv4.conf.default.secure_redirects
      value: "0"
    - name: net.ipv4.conf.all.log_martians
      value: "1"
    - name: net.ipv4.conf.default.log_martians
      value: "1"
    - name: net.ipv4.icmp_echo_ignore_broadcasts
      value: "1"
    - name: net.ipv4.icmp_ignore_bogus_error_responses
      value: "1"

# --- EPEL ---
- name: Ensure EPEL repository is enabled
  ansible.builtin.package:
    name: epel-release
    state: present

# --- Fail2ban ---
- name: Install fail2ban
  ansible.builtin.package:
    name: fail2ban
    state: present

- name: Configure fail2ban for SSH
  ansible.builtin.template:
    src: jail.local.j2
    dest: /etc/fail2ban/jail.local
    mode: '0644'
  notify: Restart fail2ban

- name: Enable and start fail2ban
  ansible.builtin.service:
    name: fail2ban
    state: started
    enabled: true

# --- System Packages ---
- name: Ensure debugging tools are installed
  ansible.builtin.package:
    name:
      - tcpdump
      - htop
      - iftop
      - nmap
      - nano
      - net-tools
      - bind-utils
      - traceroute
      - mtr
      - tmux
      - htop
      - iperf3
    state: present
...
