---
- name: Disable root authentication
  replace:
    path: /etc/ssh/sshd_config
    regexp: '#PermitRootLogin prohibit-password'
    replace: 'PermitRootLogin no'
    validate: '/usr/sbin/sshd -t -f %s'
  notify: Restart sshd

- name: Disable X11 forwarding
  replace:
    path: /etc/ssh/sshd_config
    regexp: 'X11Forwarding yes'
    replace: 'X11Forwarding no'
    validate: '/usr/sbin/sshd -t -f %s'
  notify: Restart sshd

- name: Explicitly only listen on ipv4
  replace:
    path: /etc/ssh/sshd_config
    regexp: '#AddressFamily any'
    replace: 'AddressFamily inet'
    validate: '/usr/sbin/sshd -t -f %s'
  notify: Restart sshd

- name: Setup timesync config
  template:
    src: timesyncd.conf.template
    dest: /etc/systemd/timesyncd.conf
    mode: '0644'
  notify: Run timedatectl
  when: ansible_service_mgr == "systemd"

- name: Set Timezone
  community.general.timezone:
    name: "{{ base_timedatectl_timezone }}"
  when: ansible_service_mgr == "systemd"

- name: Restart timesyncd to apply changes
  when: ansible_service_mgr == "systemd"
  ansible.builtin.systemd:
    state: restarted
    daemon_reload: yes
    name: systemd-timesyncd

- name: Verify timesyncd is running
  when: ansible_service_mgr == "systemd"
  ansible.builtin.systemd:
    name: systemd-timesyncd
    state: started
    enabled: true

- name: Ensure firewalld is installed
  ansible.builtin.package:
    name: firewalld
    state: present

- name: Enable and start firewalld
  ansible.builtin.service:
    name: firewalld
    state: started
    enabled: true

- name: Allow SSH through the default zone
  ansible.posix.firewalld:
    service: ssh
    state: enabled
    permanent: true
    immediate: true
...
