---
name: Ansible CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  yamllint:
    name: YAML Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run yamllint
        uses: ansible-actions/yamllint-action@v0.0.2
        with:
          target: "./"

  ansible-lint:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run ansible-lint
        uses: ansible-actions/ansible-lint-action@v1.0.3
        with:
          target: "./"
          collections_yml: "requirements.yaml"

  integration-tests:
    name: Integration Tests
    runs-on: ubuntu-latest
    needs: [yamllint, ansible-lint]
    steps:
      - name: Check out the codebase
        uses: actions/checkout@v4

      - name: Run Molecule Integration Test
        uses: gofrolist/molecule-action@v2
        with:
          molecule_command: test
          molecule_args: --scenario-name integration
...
